@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
}

body a {
    text-decoration: none;
    color: #212121;
}

body a:hover {
    text-decoration: none;
    color: #8c8c8c;
}

.slider {
    background-image: url("../img/slider-img.jpg");
    height: 800px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

header a img {
    float: left;
    margin: 63px auto auto 98px;
}

nav {
    float: right;
    margin: 67px 167px auto auto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #8c8c8c;
}

nav ul {
    list-style-type: none;
}

nav ul li,
nav ul li a {
    color: #8c8c8c;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
}

nav ul li a {
    padding: 4px 13px;
    text-decoration: none;
}

nav ul li a:hover,
.current-page {
    font-weight: bold;
    color: #212121;
    border-bottom: 3px solid #212121;
}

nav ul li a:active {
    font-weight: bold;
    color: #8c8c8c;
    border-bottom: 3px solid #8c8c8c;
}

nav ul li a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* nav ul li:not(.search):hover a {
    border-bottom: 2px solid #212121;
    color: #212121;
    font-weight: 700;
} */

nav ul .search:hover {
    color: #212121;
    cursor: pointer;
}

nav .fa-search {
    margin-top: -4px;
    font-size: 23px;
}

.slider-text {
    width: 470px;
    height: 227px;
    margin: 288px auto auto 98px;
    float: left;
}

.slider-text h3 {
    text-transform: uppercase;
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
}

.slider-text h2 {
    text-transform: uppercase;
    font-size: 58px;
    font-weight: 100;
}

.slider-text p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 8px;
}

.button {
    display: block;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 21px;
    margin-top: 32px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    background-color: #ffffff;
    letter-spacing: 4px;
}

.button:hover,
.krug:hover,
.buy-button:hover {
    box-shadow: 0px 5px 10px 2px rgba(33, 33, 33, 0.35);
    color: #646464;
    transition-duration: 0.3s;
}

.button:active,
.krug:active,
.buy-button:active {
    box-shadow: 0px 2px 0px 0px rgba(33, 33, 33, 0.35);
    color: #646464;
    transition-duration: 0.3s;
}

.dots input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 50px;
    z-index: 1;
    width: 50px;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 10px auto auto 9px;
    position: absolute;
    float: left;
}

.dot-box:hover input~.dot,
.container input:checked~.dot {
    height: 40px;
    width: 40px;
    margin-top: 4px;
    margin-left: 4px;
    background-color: #212121;
    transition-duration: 0.1s;
}

.dot-box:active input~.dot {
    height: 34px;
    width: 34px;
    margin-top: 7px;
    margin-left: 7px;
    background-color: #8c8c8c;
    transition-duration: 0.1s;
}

.dot-box {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.dots {
    height: 40px;
    margin: 644px auto auto auto;
    float: left;
    margin-left: 38px;
    width: 160px;
}

.first {
    height: 609px;
    margin: 0 auto;
    padding: 120px 98px;
}

.first h2 {
    margin-left: 8px;
}

.first h2 label {
    display: block;
    float: left;
    font-size: 36px;
    font-weight: 700;
    color: #6c6c6c;
    height: 55px;
    border-bottom: 1px solid #6c6c6c;
    padding-right: 15px;
    padding-left: 7px;
}

.first label:hover,
.first input[type="radio"]:checked+label {
    color: #212121;
    border-bottom: 3px solid #212121;
    cursor: pointer;
}

.first input {
    display: none;
}

.first h3,
.third h3 {
    float: right;
    text-transform: uppercase;
    margin-top: 18px;
    letter-spacing: 3px;
}

.first .items {
    float: left;
    height: 400px;
    margin-top: 20px;
    width: 100%;
}

.first .col {
    width: 25%;
    float: left;
}

.first .col .item {
    position: relative;
    margin: 0 auto;
    width: 270px;
}

.first img,
.third img,
.fifth .items-right img {
    display: block;
    width: 100%;
}

.first .item .overlay,
.third .item .overlay,
.fifth .item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.first .item .overlay h4,
.third .item .overlay h4,
.fifth .item .overlay h4 {
    font-size: 22px;
    margin-top: 19px;
}

.first .item .overlay p,
.third .item .overlay p,
.fifth .item .overlay p {
    font-size: 14px;
    width: 215px;
    margin: 18px auto auto auto;
}

.first .item:hover img,
.third .item:hover img,
.fifth .items-right .item:hover img {
    opacity: 0.3;
    cursor: pointer;
}

.item:hover .overlay {
    opacity: 1;
    outline: 1px solid #666;
}

.krug {
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    display: block;
    text-align: center;
    line-height: 48px;
    font-size: 28px;
    margin: 62px auto auto auto;
}

.second {
    display: block;
    height: 683px;
    clear: both;
}

.second .item:first-child {
    float: left;
    background: url("../img/promo-img1.jpg");
    width: 50%;
    height: 100%;
}

.second .item:last-child {
    float: left;
    background: url("../img/promo-img.jpg");
    width: 50%;
    height: 100%;
}

.second-slider-text {
    width: 387px;
    height: 227px;
    margin: 228px auto auto 51px;
    float: left;
}

.second-slider-text h3,
.fifth-slider-text h3 {
    text-transform: uppercase;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
}

.second-slider-text h2,
.fifth-slider-text h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 4px;
}

.second-slider-text p,
.fifth-slider-text p {
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 10px;
}

.third {
    height: 1108px;
    margin: 0 auto;
    padding: 118px 98px;
    float: left;
}

.third h2 {
    float: left;
    font-size: 36px;
}

.third .items,
.products-grid .items {
    margin: 54px auto auto auto;
    height: 1108px;
    float: left;
}

.third .col,
.products-grid .col {
    width: 33%;
    float: left;
}

.third .item,
.products-grid .col .item {
    width: 370px;
    margin: 7px;
    position: relative;
}

.third .krug,
.products-grid .krug {
    margin-top: 110px;
}

.fourth {
    background-image: url("../img/slider.jpg");
    height: 800px;
    float: left;
    width: 100%;
}

.fourth .slider-text h3 {
    color: #e53935;
}

.fourth .dots {
    margin: 720px auto auto auto;
    float: left;
    margin-left: 38px;
}

.fifth {
    height: 810px;
    padding: 120px 98px;
    float: left;
    width: 100%;
}

.fifth .items-right {
    margin: 0 auto;
    width: 570px;
    height: inherit;
}

.fifth .items {
    margin: 0 auto;
    float: left;
    width: 100%;
}

.fifth .col {
    width: 50%;
    float: left;
    height: 570px;
}

.fifth .items .col:first-child {
    background: url("../img/product-1-lg.jpg") no-repeat;
}

.fifth .item {
    float: left;
    width: 270px;
    margin: 0 0 30px 26px;
    position: relative;
}

.fifth .item:nth-child(1),
.fifth .item:nth-child(3) {
    margin-left: 4px;
}

.fifth-slider-text {
    width: 374px;
    height: 227px;
    margin: 183px auto auto 31px;
    float: left;
}

.sixth {
    height: 516px;
    background: url("../img/back-img.jpg");
    float: left;
    width: 100%;
}

.sixth .slider-text {
    width: 470px;
    height: 227px;
    margin: 125px auto auto 98px;
    float: left;
}

.sixth .slider-text h3 {
    color: #6c6c6c;
}

.sixth .slider-text p {
    font-size: 22px;
}

.sixth .slider-text img {
    margin-top: 30px;
}

.sixth .slider-text img:hover {
    opacity: 0.6;
    transition-duration: 0.1s;
}

footer {
    height: 384px;
    float: left;
    width: 100%;
    background-color: #f7f7f7;
    padding: 120px 99px 38px;
}

footer h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #6c6c6c;
    margin-bottom: 15px;
}

footer p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

footer .col-2 ul {
    list-style-type: none;
}

footer .col-2 li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    line-height: 26px;
}

footer .col-1,
footer .col-2,
footer .col-3 {
    float: left;
}

footer .col-1 {
    width: 25%;
    padding-right: 10px;
}

footer .col-2 {
    width: 38%;
    padding-left: 10px;
}

footer .col-2 ul {
    columns: 2;
}

footer .col-3 {
    width: 37%;
    padding-left: 50px;
}

footer .col-3 input {
    margin-top: 26px;
    width: 383px;
    height: 48px;
    padding-left: 19px;
    font-size: 14px;
    border: 1px solid #d9dee1;
    float: left;
}

footer .col-3 input:focus {
    border: 1px solid #212121;
}

footer .email {
    position: relative;
}

footer button {
    position: absolute;
    right: 12px;
    top: 34px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #6c6c6c;
}

footer button:hover .fa-telegram-plane {
    color: #212121;
}

footer .bottom {
    float: left;
    margin-top: 45px;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    color: #6c6c6c;
}

footer .bottom a {
    color: #6c6c6c;
}

footer .bottom a:hover {
    color: #212121;
}

footer .bottom div {
    width: 33%;
}

footer .bottom div:first-child {
    float: left;
}

footer .bottom div:nth-child(2) {
    float: left;
    text-align: center;
    font-size: 28px;
}

footer .bottom div:last-child {
    text-align: right;
    float: right;
}

/* Page products */

.heading {
    height: 360px;
    background-color: #f5f5f5;
}

.heading h1 {
    font-size: 62px;
    font-weight: 100;
    float: left;
    margin: 160px auto auto 98px;
}

.products-grid {
    height: auto;
    padding-top: 55px;
}

.products-grid h3 {
    float: left;
}

.products-grid h3 label {
    letter-spacing: 1px;
    display: block;
    float: left;
    font-weight: 700;
    color: #6c6c6c;
    height: 40px;
    border-bottom: 1px solid #6c6c6c;
    padding-right: 30px;
    padding-left: 7px;
}

.products-grid .items {
    height: auto;
}

.products-grid .fa-spinner {
    text-align: center;
    margin-top: 71px;
    font-size: 35px;
    width: 100%;
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {  transform: rotate(0deg);  }
    to { transform: rotate(360deg); }
}


/* Page product */

.second-menu {
    width: 100%;
    background-color: #f4f4f4;
    height: 70px;
    margin-top: 30px;
    float: left;
}

.second-menu ul {
    text-align: center;
    margin: 0 auto;
}

.second-menu ul li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 23px;
    letter-spacing: 1px;
    padding: 0 17px;
}

.second-menu ul li a {
    color: #6c6c6c;
}

.second-menu ul li a:hover,
.second-menu .current {
    color: #212121;
}

.product {
    padding-top: 72px;
    float: left;
    width: 100%;
}

.product .col {
    width: 50%;
    float: left;
}

.product .main-img {
    width: 570px;
}

.product .col:first-child {
    text-align: center;
    padding-left: 65px;
}

.product .col:last-child {
    padding-top: 40px;
    padding-right: 132px;
    padding-left: 30px;
}

.product h1,
.product h2,
.product h3 {
    text-align: center;
}

.product h1 {
    font-size: 36px;
    font-weight: 700;
}

.product h2 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
}

.product h3 {
    font-size: 18px;
    font-weight: 700;
    color: #e53935;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
}

.product .price {
    font-size: 65px;
}

.product p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}

.product .mini-img img:hover {
    outline: 1px solid #6c6c6c;
}

.related .items,
.related {
    height: auto;
}

.buy-button {
    display: block;
    background-color: #f44336;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 510px;
    height: 71px;
    text-align: center;
    text-transform: uppercase;
    line-height: 71px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border-radius: 35px;
    letter-spacing: 4px;
    margin: 25px auto 45px;
}

.buy-button:hover,
.buy-button:active {
    color: white;
}

/* Contact page */

.contacts {
    padding-top: 71px;
    height: auto;
    display: block;
}

.contacts .items {
    height: auto;
    margin-bottom: 122px;
}

.contacts .col {
    width: 33%;
    text-align: center;
}

.contacts .items .item {
    border: 1px solid #9c9c9c;
    width: 370px;
    height: 370px;
    padding-top: 48px;
    font-size: 14px;
    font-weight: 700;
}

.contacts .items .item h3 {
    margin: 0 auto;
    float: none;
    font-size: 22px;
    letter-spacing: 0;
    margin-top: 34px;
}

.contacts .items .item p {
    margin-top: 15px;
}

.contacts .items .item .contact-gray {
    color: #6c6c6c;
}

.contacts .items .item .address {
    font-weight: 500;
}

.contacts .col .fa-map-marker-alt {
    margin: 0 auto;
    font-size: 48px;
    display: block;
}